{% comment %}
/**
* ----------------------------------------------------------------------------------------------
* Settings text-with-two-images
* ----------------------------------------------------------------------------------------------
*/
{% endcomment %}


<div class="txt2imgs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading">
                <h2>{{ section.settings.section_heading }}</h2>
            </div>
            <div class="col-md-12 textImgsCol">
                <div class="row">
                    <div class="col-md-6 TextBox">
                        <h2>{{ section.settings.section_text_heading }}</h2>
                        <p>{{ section.settings.section_text_descp }}</p>
                    </div>
                    <div class="col-md-6 imgsBox">
                        <img src="{{ section.settings.section_image_1 | img_url: '1296x' }}" data-src="{{ img_url }}" data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]" data-aspectratio="{{ block.settings.image.aspect_ratio }}" data-sizes="auto" data-parent-fit="cover" alt="{{ var_image_alt }}">
                      	<img src="{{ section.settings.section_image_2 | img_url: '1296x' }}" data-src="{{ img_url }}" data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]" data-aspectratio="{{ block.settings.image.aspect_ratio }}" data-sizes="auto" data-parent-fit="cover" alt="{{ var_image_alt }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
  .txt2imgs{
    padding:75px 0px;
  }
  .section-heading{
    margin-bottom:50px;
  }
</style>